.imagemani {
    width: 90%;
    float: right;
    // height: 300px;
}
.imagemani img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}
.color-new svg{    vertical-align: text-top !important;
    margin-right: 4px;
    margin-top: 0.4px;}
    .date-color svg{
        vertical-align: text-top !important
        ; margin-top: 1px;
    }
.padd-12{padding-left: 12px;}
.posnew {
    padding: 2px 12px !important;
    border-radius: 4px;
    background: rgba(0, 135, 81, 0.20) !important;
    font-weight: 500 !important;
    color: #008751;
}
.titleHeading
{
    line-height: 34px !important;
    font-size: 30px !important;
    font-weight: 800 !important;
    color: #000 !important;
    margin: 10px 0;
}
.customhead
{
    color: #98a6ad;
    font-weight: 400;
    font-size: 12px;
}
.annuncementcard p, .annuncementcard span{color: #6d757d;}
.customdescription
{
    line-height: 20px;
    font-weight: 400;
    color: #98a6ad;
    font-size: 14px;
}
.btnCustomcss
{
    background-color: var(--ct-btn-active-bg);
    border-color: var(--ct-btn-active-border-color);
    color: var(--ct-btn-active-color);
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    font-size: 14px;
    font-weight: 500; cursor: pointer; clear: both;
}
.annuncementcard
{
    border-radius: 0px !important;
    border: none !important;
    box-shadow: 0 3px 20px #1d26260d;
}
.readmore {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 14px;
}
.readmore:hover{text-decoration: underline;}
a
{
    text-decoration: unset;
}
a:hover
{
    text-decoration: unset;
}
.dropcss
{
    position: absolute;
    right: 0;
    border: none;
    display: block;
    margin: 0px;
   
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}
.dropcssItem
{
    color: #323a46;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
a.nav-linkss{font-size: 14px;}
.nav-itemcss
{
    margin-bottom: unset;
    align-items: center;
    display: flex;
}

a.nav-linkss {
    background: #fff !important;
    border: 1px solid var(--light-color) !important;
    border-radius: 5px !important;
    color: #000;
    font-weight: 500;
    margin: 0 5px;
    padding: .7rem 1rem !important;
}
.card .card-body .quill{
    height: 165px !important;
    max-height: 165px !important;
    overflow-y: auto !important;
}
.mtbalenew th{padding: 10px 10px !important;}
a.nav-linkss.active {
    background: var(--primary-color) !important;
    color: #fff !important;
   
}
.text-dark1{    width: 21px;
    height: 21px;
    color: #6c747d !important;
    margin-top: 1px;}
    @media(max-width:640px){
        .parah{height: 7em !important;}
    }