.team-fedd p {
    font-size: 0.9rem;
    font-weight: 400;
}
.UserReplycss
{
    padding: 10px 0px 10px 0px;
    // width: 98%;
    margin: 0;
    margin-bottom: 1px;
    float: left;
    background: #f3f7fa;
}
// .commentheight{max-height: 129px; overflow-x: hidden; overflow-y: auto;}
.btn:first-child:active {
    border: none;
}
.ht {
    
    border-radius: 30px !important;
    font-size: 13px;
    height: 40px; resize: unset;
}
.newtextc p{line-height: 22px !important; font-size: 15px;}
.ht {

  padding: 7px;
  font-weight: 500;

}
.w-100 textarea::placeholder{
  color: #000;
}